# Machine Learning Class 2
In this class, we learned how to create headings - use ## - and regular text under a markdown cell (like the one I'm using right now). We also learned to bold **bold**.

Looks like in mark down, you can also add code by adding ```x = 10```

Leearned about TUPLES and LISTS.

This was a HUGE class. Need to go through several times.

## Heading 1

Todays date is **17 November 2020**

```x = 10```

In [46]:
name = "Ross"

In [47]:
print(name)

# When you open a new sheet, you need to run everything so that the data is there (run).

Ross

In [48]:
age = 31

In [49]:
print(name, age)

# Add a comma between things to print them one after the other.

Ross 31

In [50]:
print("My name is {}, my age is {}, my country is {}.".format(name, age, "United States"))

# That is cool, you can add in variables from previous variables or you can add them in directly.

My name is Ross, my age is 31, my country is United States.

In [51]:
type(name)

# To create a string, just add ''

str

In [10]:
float(int(str(10)))

10.0

In [52]:
str(10)

'10'

In [60]:
a = 10

In [61]:
b = 20

In [62]:
print(a + b)

30

In [63]:
print(a * b)

200

In [64]:
print(a/b)

0.5

In [65]:
print(int(a/b))

# This reason this is zero because for it to be an integer it cannot have a decimal.

0

In [72]:
print(a%b)

# Need Chandan to explain this. The remainder of the divsion.
# Not sure why this is needed but at least I get it now.

10

In [22]:
min(a,b)

10

In [39]:
max(a,b)

20

In [1]:
a = "Ross", 31, "United States"

In [2]:
print(a)

('Ross', 31, 'United States')

In [3]:
type(a)

# Tuples have integers and strings.

tuple

In [4]:
a = ("Ross", 31, "United States")

In [5]:
type(a)

tuple

In [6]:
print(a)

('Ross', 31, 'United States')

In [57]:
b = ["Ross", 31, "United States"]

# To create a list, use brackets.

In [58]:
print(b)

['Ross', 31, 'United States']

In [59]:
type(b)

list

In [61]:
print(a)

('Ross', 31, 'United States')

In [34]:
print(a[0])

#This means of the list a, print the first thing in the list. That is 0.

Ross

In [63]:
print(b[1])

# Of the list b, print the second thing in the list.

31

In [67]:
b[0] = "John"

# This is how you change something that is in the list. Now the first thing is "John."

In [68]:
print(b[0])

John

In [69]:
print(b)

['John', 31, 'United States']

In [41]:
a = list(a)

# This was me changing a tuple into a list.

In [42]:
type(a)

list

In [39]:
a[0] = "Chandan"

TypeError: 'tuple' object does not support item assignment

In [74]:
print(a[0])

#This was me chnaging the first thing in a list to "Chandan."

Chandan

In [75]:
print(a)

#This was just reprinting that list with the new first variable.

['Chandan', 31, 'United States']

In [76]:
a = tuple(a)

#This is converting that list into a tuple.

In [37]:
type(a)

tuple

In [38]:
a[0] = "Chandan"

#You cannot change a variable of a tuple, you can only do that with a list.

TypeError: 'tuple' object does not support item assignment

In [79]:
b.append("Gregg")

# This means add "Gregg" 'append' it to the end of the list.

# Ok so variable .append this adds to the end of the list.

In [80]:
print(b)

['John', 31, 'United States', 'Gregg']

In [36]:
b.insert(0,"Chandan")

#This is saying insert "Chandan to the first position, position 0"

AttributeError: 'int' object has no attribute 'insert'

In [84]:
print(b)

['Chandan', 'John', 31, 'United States', 'Gregg']

In [85]:
a = tuple(a)

In [86]:
a = list(a)

In [87]:
type(a)

list

In [88]:
c = a+b

#This is adding a list together.

In [89]:
print(c)

['Chandan', 31, 'United States', 'Chandan', 'John', 31, 'United States', 'Gregg']

In [90]:
print(set(c))

# Need to confirm but I think this just means only show unqiue variables. YES!!

{'United States', 'Gregg', 'John', 'Chandan', 31}

In [91]:
b.remove("Gregg")

In [92]:
print(b)

['Chandan', 'John', 31, 'United States']

In [93]:
b.pop()

#Pop means remove the last thing in the list.
#So when you run this, it shows you what it is "poping" from the list.

'United States'

In [94]:
print(b)

['Chandan', 'John', 31]

In [95]:
print(len(b))

#Returns the number of items in a list.

3

In [43]:
numbers = [50, 22, 1, 5, -5, -300]

In [44]:
numbers.sort()

#This sorts numbers in a list.

In [45]:
print(numbers.sort())

None

In [99]:
print(numbers)

[-300, -5, 1, 5, 22, 50]

In [100]:
numbers.sort(reverse=True)

#This is to print something in a reverse order.

In [101]:
print(numbers)

[50, 22, 5, 1, -5, -300]

In [102]:
characters = ['a', 'i', 'e', 'q']

In [103]:
characters.sort()

In [104]:
print(characters)

#You can also sort strings and they do so in alphabetical order.

['a', 'e', 'i', 'q']

In [105]:
characters.sort(reverse=True)

In [106]:
print(characters)

#Same idea, you can print everything in reverse order.

['q', 'i', 'e', 'a']

In [107]:
sum(numbers)

-227

In [108]:
numbers + 200

TypeError: can only concatenate list (not "int") to list

Removed in Python 3.

In [109]:
b = [5*a]

In [110]:
print(b)

[['Chandan', 31, 'United States', 'Chandan', 31, 'United States', 'Chandan', 31, 'United States', 'Chandan', 31, 'United States', 'Chandan', 31, 'United States']]

In [111]:
b = [5*'a']

In [112]:
print(b)

['aaaaa']

In [113]:
b = ['a']*5

In [73]:
print(b)

20

In [74]:
b = a

In [75]:
print(b)

10

In [76]:
print(a)

10

In [77]:
a.clear()

#This clears a list.

AttributeError: 'int' object has no attribute 'clear'

In [78]:
print(a)

10

In [79]:
a = ("Ross", 10, "Chandan States")

In [80]:
print(a)

('Ross', 10, 'Chandan States')

In [81]:
type(a)

tuple

In [82]:
print(a)

('Ross', 10, 'Chandan States')

In [83]:
print(a[2])

# Prints the third thing in the list.

Chandan States

In [84]:
print(a[3])

#This is not something inside the tuple, only three things.

IndexError: tuple index out of range

In [85]:
print(a[-1])

#This is coming from the opposite side, showing finding the last thing in the list.

Chandan States

In [86]:
print(a[-2])

10

In [87]:
print(a[-3])

Ross

In [88]:
print(a[-1:-2])

# NEEDS WORK!! I do not understand this.
# I think this because this range is not accurate as it's not in the right order.

()

In [89]:
print(a[-1:-2])

# NEEDS WORK!!  I do not understand this.

()

In [90]:
print(a[-2:-1])

# NEEDS WORK!!  I do not understand this.

(10,)

In [91]:
print(a[-3:-1])

('Ross', 10)

In [98]:
print(a[0:2])

# So it looks like it runs everything up to the number but not that.
# So if you want the second number, you need to add '3'

('Ross', 10)

In [141]:
a = list(a)

In [142]:
type(a)

list

In [143]:
b = [3,6,11,12]

In [144]:
c= a+b

In [145]:
print(c)

['Ross', 10, 'Chandan States', 3, 6, 11, 12]

In [146]:
c.sort()

# You can not sort a string and integer together.

TypeError: '<' not supported between instances of 'int' and 'str'

In [147]:
b.sort()

In [148]:
print(b)

[3, 6, 11, 12]

In [150]:
b.append(20)

In [151]:
print(b)

[3, 6, 11, 12, 20]

In [154]:
b.insert(2, 30)

In [155]:
print(b)

[3, 6, 30, 11, 30, 12, 20]

In [156]:
len(b)

7

In [157]:
sum(b)

112

In [159]:
set(b)

# NEEDS WORK!! Not sure why you need to do this or what you are doing.
# I think this is removing things that are duplicated, only showing unique variables.

{3, 6, 11, 12, 20, 30}

In [160]:
d = [3]*20

In [161]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [162]:
len(d)

20

In [163]:
a.clear()

# This clears everything in the list.

In [164]:
print(a)

[]

In [165]:
d.pop()

#This removes the last thing in the list.

3

In [166]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [167]:
len(d)

19

In [168]:
d = d + b

In [169]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 6, 30, 11, 30, 12, 20]

In [170]:
d.extend(b)

# NEEDS WORK!! This must be to add b to the end of the list.

In [171]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 6, 30, 11, 30, 12, 20, 3, 6, 30, 11, 30, 12, 20]

In [172]:
del d[-2]

# This must mean to delete the second to last thing in teh list.

In [173]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 6, 30, 11, 30, 12, 20, 3, 6, 30, 11, 30, 20]