# Ross Jupyter Notebook Heading

## Heading 1

Todays date is **17 November 2020**

```x = 10```

In [3]:
name = "Ross"

In [4]:
print(name)

Ross

In [5]:
age = 31

In [7]:
print(name, age)

Ross 31

In [20]:
print("My name is {}, my age is {}, my country is {}.".format(name, age, "United States"))

My name is Ross, my age is 31, my country is United States.

In [21]:
type(name)

str

In [30]:
float(int(str(10)))

10.0

In [31]:
a = 10

In [32]:
b = 20

In [33]:
print(a + b)

30

In [34]:
print(a * b)

200

In [35]:
print(a/b)

0.5

In [36]:
print(int(a/b))

0

In [37]:
print(a%b)

10

In [38]:
min(a,b)

10

In [39]:
max(a,b)

20

In [41]:
a = "Ross", 31, "United States"

In [42]:
print(a)

('Ross', 31, 'United States')

In [43]:
type(a)

tuple

In [54]:
a = ("Ross", 31, "United States")

In [55]:
type(a)

tuple

In [56]:
print(a)

('Ross', 31, 'United States')

In [57]:
b = ["Ross", 31, "United States"]

In [58]:
print(b)

['Ross', 31, 'United States']

In [59]:
type(b)

list

In [61]:
print(a)

('Ross', 31, 'United States')

In [62]:
print(a[0])

Ross

In [63]:
print(b[1])

31

In [67]:
b[0] = "John"

In [68]:
print(b[0])

John

In [69]:
print(b)

['John', 31, 'United States']

In [70]:
a = list(a)

In [71]:
type(a)

list

In [73]:
a[0] = "Chandan"

In [74]:
print(a[0])

Chandan

In [75]:
print(a)

['Chandan', 31, 'United States']

In [76]:
a = tuple(a)

In [77]:
type(a)

tuple

In [78]:
a[0] = "Chandan"

TypeError: 'tuple' object does not support item assignment

In [79]:
b.append("Gregg")

In [80]:
print(b)

['John', 31, 'United States', 'Gregg']

In [83]:
b.insert(0,"Chandan")

In [84]:
print(b)

['Chandan', 'John', 31, 'United States', 'Gregg']

In [85]:
a = tuple(a)

In [86]:
a = list(a)

In [87]:
type(a)

list

In [88]:
c = a+b

In [89]:
print(c)

['Chandan', 31, 'United States', 'Chandan', 'John', 31, 'United States', 'Gregg']

In [90]:
print(set(c))

{'United States', 'Gregg', 'John', 'Chandan', 31}

In [91]:
b.remove("Gregg")

In [92]:
print(b)

['Chandan', 'John', 31, 'United States']

In [93]:
b.pop()

'United States'

In [94]:
print(b)

['Chandan', 'John', 31]

In [95]:
print(len(b))

3

In [96]:
numbers = [50, 22, 1, 5, -5, -300]

In [97]:
numbers.sort()

In [98]:
print(numbers.sort())

None

In [99]:
print(numbers)

[-300, -5, 1, 5, 22, 50]

In [100]:
numbers.sort(reverse=True)

In [101]:
print(numbers)

[50, 22, 5, 1, -5, -300]

In [102]:
characters = ['a', 'i', 'e', 'q']

In [103]:
characters.sort()

In [104]:
print(characters)

['a', 'e', 'i', 'q']

In [105]:
characters.sort(reverse=True)

In [106]:
print(characters)

['q', 'i', 'e', 'a']

In [107]:
sum(numbers)

-227

In [108]:
numbers + 200

TypeError: can only concatenate list (not "int") to list

Removed in Python 3.

In [109]:
b = [5*a]

In [110]:
print(b)

[['Chandan', 31, 'United States', 'Chandan', 31, 'United States', 'Chandan', 31, 'United States', 'Chandan', 31, 'United States', 'Chandan', 31, 'United States']]

In [111]:
b = [5*'a']

In [112]:
print(b)

['aaaaa']

In [113]:
b = ['a']*5

In [114]:
print(b)

['a', 'a', 'a', 'a', 'a']

In [117]:
b = a

In [118]:
print(b)

['a', 'a', 'a', 'a', 'a']

In [119]:
print(a)

['a', 'a', 'a', 'a', 'a']

In [120]:
a.clear()

In [121]:
print(a)

[]

In [122]:
a = ("Ross", 10, "Chandan States")

In [123]:
print(a)

('Ross', 10, 'Chandan States')

In [124]:
type(a)

tuple

In [125]:
print(a)

('Ross', 10, 'Chandan States')

In [126]:
print(a[2])

Chandan States

In [127]:
print(a[3])

IndexError: tuple index out of range

In [128]:
print(a[-1])

Chandan States

In [129]:
print(a[-2])

10

In [130]:
print(a[-3])

Ross

In [135]:
print(a[-1:-2])

()

In [136]:
print(a[-1:-2])

()

In [137]:
print(a[-2:-1])

(10,)

In [138]:
print(a[-3:-1])

('Ross', 10)

In [140]:
print(a[0:2])

('Ross', 10)

In [141]:
a = list(a)

In [142]:
type(a)

list

In [143]:
b = [3,6,11,12]

In [144]:
c= a+b

In [145]:
print(c)

['Ross', 10, 'Chandan States', 3, 6, 11, 12]

In [146]:
c.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [147]:
b.sort()

In [148]:
print(b)

[3, 6, 11, 12]

In [150]:
b.append(20)

In [151]:
print(b)

[3, 6, 11, 12, 20]

In [154]:
b.insert(2, 30)

In [155]:
print(b)

[3, 6, 30, 11, 30, 12, 20]

In [156]:
len(b)

7

In [157]:
sum(b)

112

In [159]:
set(b)

{3, 6, 11, 12, 20, 30}

In [160]:
d = [3]*20

In [161]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [162]:
len(d)

20

In [163]:
a.clear()

In [164]:
print(a)

[]

In [165]:
d.pop()

3

In [166]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [167]:
len(d)

19

In [168]:
d = d + b

In [169]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 6, 30, 11, 30, 12, 20]

In [170]:
d.extend(b)

In [171]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 6, 30, 11, 30, 12, 20, 3, 6, 30, 11, 30, 12, 20]

In [172]:
del d[-2]

In [173]:
print(d)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 6, 30, 11, 30, 12, 20, 3, 6, 30, 11, 30, 20]