# Machine Learning Class 3

A lot learned in this class. The big thing was dictionary. Need to study more.

In [1]:
a = [5,3,2,9,11]

In [2]:
type(a)

list

In [3]:
print(a)

[5, 3, 2, 9, 11]

In [4]:
b = ['a','e','d','w','l']

In [5]:
c = a+b

In [6]:
print(c)

[5, 3, 2, 9, 11, 'a', 'e', 'd', 'w', 'l']

In [9]:
c.pop()

'l'

In [10]:
c.remove(3)

In [11]:
print(c)

[5, 2, 9, 11, 'a', 'e', 'd', 'w']

In [12]:
c.insert(4,3)

In [13]:
print(c)

[5, 2, 9, 11, 3, 'a', 'e', 'd', 'w']

In [14]:
del c[-2]

In [15]:
print(c)

[5, 2, 9, 11, 3, 'a', 'e', 'w']

In [16]:
print(c[-2])

e

In [17]:
print(c[1])

2

In [20]:
print(c[0:4])

# Clearly, this is to print from 0 to 4.

[5, 2, 9, 11]

In [21]:
d = c+b

In [22]:
print(d)

[5, 2, 9, 11, 3, 'a', 'e', 'w', 'a', 'e', 'd', 'w', 'l']

In [23]:
set(d)

#I think this only shows unique values.

{11, 2, 3, 5, 9, 'a', 'd', 'e', 'l', 'w'}

In [26]:
a.sort()

In [27]:
print(a)

[2, 3, 5, 9, 11]

In [29]:
a.reverse()

In [30]:
print(a)

[11, 9, 5, 3, 2]

In [31]:
tuple(a)

(11, 9, 5, 3, 2)

In [32]:
type(a)

list

In [33]:
a = tuple(a)

In [34]:
type(a)

tuple

In [35]:
type(a)

tuple

In [36]:
print(a)

(11, 9, 5, 3, 2)

In [37]:
print(a[0])

11

a's first item is 11. a's second item is 9.

In [38]:
print("a's first item is 11. a's second item is 9.")

a's first item is 11. a's second item is 9.

In [42]:
print("as first item is {}. as second item is {}".format(a[0],a[1]))

as first item is 11. as second item is 9

In [44]:
d.clear()

In [45]:
print(d)

[]

In [46]:
d = (20)*5

In [47]:
print(d)

100

In [48]:
d = [20]*5

In [49]:
print(d)

[20, 20, 20, 20, 20]

In [50]:
e = ('a')*20

In [51]:
print(e)

aaaaaaaaaaaaaaaaaaaa

In [54]:
len(e)

20

In [55]:
len(b)

5

In [56]:
sum(a)

30

In [57]:
min(a)

2

In [58]:
max(a)

11

# Dictionary

In [59]:
print(a)

(11, 9, 5, 3, 2)

In [60]:
a = list(a)

In [61]:
print(a)

[11, 9, 5, 3, 2]

In [62]:
d = {'age':31,'name':'Ross','gender':'male'}

In [63]:
print(d)

{'age': 31, 'name': 'Ross', 'gender': 'male'}

In [64]:
type(d)

dict

In [65]:
d['age']

31

In [66]:
d['gender']

'male'

In [68]:
d['country']='United States'

In [69]:
print(d)

{'age': 31, 'name': 'Ross', 'gender': 'male', 'country': 'United States'}

In [70]:
d['age']=32

In [71]:
print(d)

{'age': 32, 'name': 'Ross', 'gender': 'male', 'country': 'United States'}

In [74]:
del d['country']

In [75]:
print(d)

{'age': 32, 'name': 'Ross', 'gender': 'male'}

In [78]:
f = [{'age':31,'name':'Ross','gender':'male'},{'age':33,'name':'Gregg','gender':'male'},{'age':44,'name':'Chandan','gender':'male'}]

In [79]:
print(f)

[{'age': 31, 'name': 'Ross', 'gender': 'male'}, {'age': 33, 'name': 'Gregg', 'gender': 'male'}, {'age': 44, 'name': 'Chandan', 'gender': 'male'}]

In [80]:
f = tuple(f)

In [81]:
type(f)

tuple

In [82]:
print(f)

({'age': 31, 'name': 'Ross', 'gender': 'male'}, {'age': 33, 'name': 'Gregg', 'gender': 'male'}, {'age': 44, 'name': 'Chandan', 'gender': 'male'})

In [88]:
g = {'age':[31,33,44],'name':['Ross','Chandan','Gregg'],'gender':['male']*3}

# NEEDS WORK!! 
# There are two ways to create dictionaries. Need to figure this out.

In [89]:
print(g)

{'age': [31, 33, 44], 'name': ['Ross', 'Chandan', 'Gregg'], 'gender': ['male', 'male', 'male']}

In [2]:
i = {'age':(31,33,44),'name':('Ross','Chandan','Gregg'),'gender':('male')*3}

# NEEDS WORK!!

In [91]:
print(i)

{'age': (31, 33, 44), 'name': ('Ross', 'Chandan', 'Gregg'), 'gender': 'malemalemale'}

In [92]:
j = [{'age':31,'name':'ross','gender':'male'}]

In [93]:
j.append({'age':26,'name':'Chandan','gender':'male'})

# NEEDS WORK!!  What does this mean?

In [94]:
print(j)

[{'age': 31, 'name': 'ross', 'gender': 'male'}, {'age': 26, 'name': 'Chandan', 'gender': 'male'}]

In [1]:
j.insert(1,{'age':44,'name':'gregg','gender':'male'})

# NEEDS WORK!!  What does this mean?

NameError: name 'j' is not defined

In [97]:
print(j)

[{'age': 31, 'name': 'ross', 'gender': 'male'}, {'age': 44, 'name': 'gregg', 'gender': 'male'}, {'age': 26, 'name': 'Chandan', 'gender': 'male'}]

In [98]:
j[1]['age']

44

In [101]:
j[2]['age']=33

In [102]:
print(j)

[{'age': 31, 'name': 'ross', 'gender': 'male'}, {'age': 44, 'name': 'gregg', 'gender': 'male'}, {'age': 33, 'name': 'Chandan', 'gender': 'male'}]

In [103]:
j[-1]['age']=40

In [104]:
print(j)

[{'age': 31, 'name': 'ross', 'gender': 'male'}, {'age': 44, 'name': 'gregg', 'gender': 'male'}, {'age': 40, 'name': 'Chandan', 'gender': 'male'}]

In [105]:
print(d)

{'age': 32, 'name': 'Ross', 'gender': 'male'}

In [107]:
d.keys()

dict_keys(['age', 'name', 'gender'])

In [110]:
list(d.keys())

['age', 'name', 'gender']

In [111]:
d.values()

dict_values([32, 'Ross', 'male'])

In [112]:
a = {'a':1,'b':5,'d':3}

In [115]:
a.values()

dict_values([1, 5, 3])

In [116]:
list(a.values())

# NEEDS WORK!!

[1, 5, 3]

In [120]:
sum(list(a.values()))

# NEEDS WORK!!

9

In [122]:
h = a.values()

In [123]:
print(h)

dict_values([1, 5, 3])

In [129]:
h = list(h)

# NEEDS WORK!!

In [131]:
h.sort()

In [132]:
print(h)

[1, 3, 5]

In [133]:
h.reverse()

In [134]:
print(h)

[5, 3, 1]