In [1]:
age = 31
print(age)

31

In [2]:
name = "ross"
print(name)

ross

In [3]:
print(age)
print(name)

31
ross

In [4]:
my name is print(name)

SyntaxError: invalid syntax (<ipython-input-4-0e35fce1b24d>, line 1)

In [5]:
print("my name is")

my name is

In [6]:
print("my name is", name)

my name is ross

In [7]:
print("my name is" + name)

my name isross

In [8]:
print("my name is " + name)

my name is ross

In [9]:
print("my name is {name}")

my name is {name}

In [10]:
print("my name is {{name}}")

my name is {{name}}

In [11]:
print("my name is {}".format(name))

my name is ross

In [14]:
print("my name is {0} my age is {1}".format(name, age))

my name is ross my age is 31

In [15]:
x1 = 10 # x1 is an integer

In [16]:
x1

10

In [17]:
type(x1)

int

In [18]:
x2 = 10.5

In [19]:
x2

10.5

In [20]:
type(x2)

float

In [21]:
x3 = "ross"

In [22]:
type(x3)

str

In [24]:
x1 = str(x1)

In [25]:
x1

'10'

In [26]:
type(x1)

str

In [27]:
x1 = int(x1)

In [28]:
x1

10

In [29]:
type(x1)

int